<% include partials/header %>
<!-- SecondBlock -->
<div class="row second-block">
    <!-- Header -->
    <div class="container">
        <div class="row text-right mt-2">
            <div class="col">
                <a class="btn btn-outline-secondary btn-large" href="property/new">Добавить новый объект>
                </a>
            </div>
        </div>


        <% property.forEach(function(property){ %>


        <div class="row">
            <div class="col">

            </div>
            <div class="col-lg-10">
                <div class="contentSecond">
                    <h2 class="textDarkH">
                        <%= property.mainHeader %>
                    </h2>
                    <p class="textDarkPThing">
                        Клиенты доверяют нам
                    </p>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <!-- Image Property Slider -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <!-- Container for the image gallery -->
                    <div class="containerProp">
                        <h4>MY HOME gold Team realtor</h4>

                        <!-- Full-width images with number text -->
                        <div class="mySlides">
                            <div class="numbertext">1 / 6</div>
                            <img src="/imgProperty/IMG_2544.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">2 / 6</div>
                            <img src="/imgProperty/IMG_2548.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">3 / 6</div>
                            <img src="/imgProperty/IMG_2549.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">4 / 6</div>
                            <img src="/imgProperty/IMG_2550.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">5 / 6</div>
                            <img src="/imgProperty/IMG_2544.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">6 / 6</div>
                            <img src="/imgProperty/IMG_2544.jpg" style="width:100%">
                        </div>


                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>






                        <!-- Thumbnail images -->
                        <div class="rowProp">
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2544.jpg" style="width:100%"
                                    onmouseenter="currentSlide(1)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2548.jpg" style="width:100%"
                                    onmouseenter="currentSlide(2)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2549.jpg" style="width:100%"
                                    onmouseenter="currentSlide(3)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2550.jpg" style="width:100%"
                                    onmouseenter="currentSlide(4)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2544.jpg" style="width:100%"
                                    onmouseenter="currentSlide(5)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2544.jpg" style="width:100%"
                                    onmouseenter="currentSlide(6)" alt="MY HOME gold Team realtor">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image Property Slider -->

        <!-- Property type, floor -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="table-responsive-md">
                    <table class="table tableProperty">
                        <tbody>
                            <tr>
                                <td>Площадь кухни: </td>
                                <td class="boldProp">
                                    <%= property.kitchen_S %> м2</td>
                                <td>Тип дома: </td>
                                <td class="boldProp">
                                    <%= property.construction %>
                                </td>
                            </tr>
                            <tr>
                                <td>Жилая площадь: </td>
                                <td class="boldProp">
                                    <%= property.living_S %> м2</td>
                                <td>Количество комнат: </td>
                                <td class="boldProp">
                                    <%= property.rooms %>
                                </td>
                            </tr>
                            <tr>
                                <td>Этаж: </td>
                                <td class="boldProp">
                                    <%= property.floor %>
                                </td>
                                <td>Общая площадь: </td>
                                <td class="boldProp">
                                    <%= property.property_S %> м2</td>
                            </tr>
                            <tr>
                                <td>Адрес: </td>
                                <td class="boldProp">
                                    <%= property.address %>
                                </td>
                                <td>Метро: </td>
                                <td class="boldProp">
                                    <%= property.metro %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- Property type, floor -->
        <!-- Maps Property -->
        <!-- Maps Property -->

        <!-- Text Description -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 textProperty">
                    <hr>
                    <p>
                        <%= property.description %>
                    </p>
                    <hr>
                </div>

            </div>
        </div>

        <% }); %>
        <!-- Text Description -->

    </div>

    <!-- Header -->

</div>
<!-- SecondBlock -->

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex -
            1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

<% include partials/footer %>