<% include ../partials/header %>
<div class="row blog">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="contentSecond">
          <h1 class="textDarkH">
            Новости <span class="headBlue"> в мире недвижимости ...</span>
          </h1>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-xs-4">
              <p class="">
                Факты, события, истории из жизни и просто мысли.

              </p>
            </div>
            <div class="col-md-1"></div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <main role="main" class="container">
    <div class="row">
      <%blog.forEach(function(blog){ %>
      <div class="col-lg-8 col-10 pl-4 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title"><%= blog.mainHeader %></h2>

          <p class="blog-post-meta"><%= blog.monthYear %> <a href="#"><%= blog.nameAuthor %></a></p>

          <div><a href="/blog/blogAll/<%= blog._id %>">
              <p><%= blog.content.substring(0,550) %>...</p>
            </a></div>

          <p class="mb-0 font-italic blog-post-link">
            <a href="/blog/blogAll/<%= blog._id %>">Читать далее ... </a>

          </p>
<!-- buttons -->
          <div class="row AllPropLinks_buttons">
            <% if(currentUser){ %>
            <a class="btn btn-outline-success btn-sm" href="/blogAll/blogNew">New </a>
            <a class="btn btn-outline-warning btn-sm" href="/blog/blogAll/<%= blog._id %>/blogEdit">Edit </a>
            <form id="delete-form" action="/blog/blogAll/<%= blog._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-outline-danger">Delete</button>
              <% }else{ %>
              <% } %>
            </form>
          </div> <!-- buttons -->
          <hr>



        </div><!-- /.blog-post -->
        <% }); %>

        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
        </nav>

      </div><!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">


        <div class="p-4">
          <h4 class="font-italic">Архив</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Март 2019</a></li>
            <li><a href="#">Февраль 2018</a></li>
          </ol>
        </div>


      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->
</div>



<% include ../partials/footer %>